<h1>Products</h1>

  <div class="row">
    <% @products.each do |product| %>
    <%= link_to product_path(product) do %>
    <div class="col-md-4">
      <div class="col-md-12">
        <%= image_tag 'rails', width: '120', height: '120' %>
      </div>

      <div class="col-md-12">
        
        <h5><%= product.name %></h5>
      </div>

      <div class="col-md-12">
        <p>$<%= product.price %></p>
      </div>

    </div>
    <% end %>
    <% end %>
  </div>
  <br>